@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100vh;
}

#slogan-signin {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

@layer base {
  :root {

     /* Background Colors */
  --bg-1: 216 20% 95%;
  --bg-2: 0 0% 100%;
  --bg-3: 223 15% 91%;

  /* Text Colors */
  --text-1: 0 0% 2%;
  --text-2: 220 3% 41%;

  --shadow-card-friend: 0px 0px 8px 1.5px rgba(0,0,0,0.08);
  --shadow-main-nav: 0px 1.5px 4px 0px rgba(0,0,0,0.08);

    --background: 0 0% 100%;
    --background-2: 216 20% 95%;
    --background-3: 233 15% 91%;
    --background-search: 216 20% 95%;
    --foreground: 222.2 84% 4.9%;
    
    --icon: 220 9% 13%;
    --line: 220 7% 82%;

    --primary-text: 0 0% 2%;
    --secondary-text: 220 3% 41%;
    --tertiary-text: 0 0% 2%;

    --radio-checked: 212 100% 41%;

    --thumd-sidebar: 0 0% 32%;

    --hover-menu: 0 0% 95%;
    --hover-nav-right: 0 0% 84%;

    --hover-1: 0 0% 92%;
    --shadow-menu: 0 0 0 / 0.1;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 217 100% 52%;
    --primary-foreground: 210 40% 98%;

    --primary-icon:  217 100% 52%;
    --primary-bg-icon: 210 100% 96%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --emoji-post: invert(39%) sepia(8%) saturate(200%) hue-rotate(182deg) brightness(100%) contrast(92%);;
  }
 
  .dark {

    /* Background Colors */
  --bg-1: 210 4% 10%;
  --bg-2: 210 3% 15%;
  --bg-3: 210 2% 23%;

  /* Text Colors */
  --text-1: 223 15% 91%;
  --text-2: 218 5% 71%;

  --shadow-card-friend: 0px 0px 0.5px 1.1px rgba(255,255,255,0.08);
  --shadow-main-nav: 0px 1px 0.5px 0px rgba(255,255,255,0.125);

    --background: 210 3% 15%;
    --background-2: 210 4% 10%;
    --background-3: 210 2% 23%;
    --background-search: 210 2% 23%;
    --foreground: 210 40% 98%;

    --icon: 220 12% 91%;
    --line: 210 3% 25%;
    
    --primary-text: 223 10% 86%;
    --secondary-text: 218 5% 71%;
    --tertiary-text: 223 15% 91%;

    --radio-checked: 212 100% 73%;

    --thumd-sidebar: 0 0% 40%;

    --hover-menu: 0 0% 20%;
    --hover-nav-right: 0 0% 32%;

    --hover-1: 0 0% 30%;
    --shadow-menu: 255 255 255 / 0.1;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 217 100% 52%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary-light: 212 100% 73%;
    --primary-dark: 211 39% 23%;
    --primary-hyperlight: 210 100% 96%;

    --primary-icon:  212 100% 73%;
    --primary-bg-icon: 211 39% 23%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --emoji-post: brightness(0) saturate(100%) invert(90%) sepia(2%) saturate(559%) hue-rotate(173deg) brightness(87%) contrast(71%)
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center
  }
  .flex-start {
    @apply flex justify-start items-center
  }
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-end {
    @apply flex justify-end items-center
  }
  .nav-active {
  @apply shadow-active text-primary
  }
  .bg-hover-xl {
    @apply bg-hover-menu rounded-xl
  }
  .bg-hover-full {
    @apply bg-hover-menu rounded-full
  }
  .nav-right-hover {
    @apply bg-hover-nav-right
  }
}

@layer components {
  .menu-square {
    @apply flex-center text-secondary-text cursor-pointer select-none max-w-[108px] w-full h-full mt-[1px]
  }
  .search-lg {
    @apply w-60 h-10 text-secondary-text text-sm rounded-full bg-background-search flex-start p-3 space-x-2
  }
  .search-sm {
    @apply h-10 w-10 bg-background-search text-secondary-text rounded-full flex-center
  }
}
 
@layer base {
  * {
    @apply border-border select-none;
  }
  body {
    @apply  bg-background text-foreground;
  }
}